.blog{
    margin-top: 30px;
    margin-bottom: 10px;
}
.mark-as-read{
    color: blue;
    text-decoration: underline;
}
.blog img{
    width: 580px;
    height: 350px; 
    border-radius: 8px; 
}
.blog-info{
    display: flex;
    justify-content: space-between;

}
.author-name{
    font-family: Exo 2;
    font-size: 22px;
    font-weight: 600;
}
.published-date{
    color: rgba(17, 17, 17, 0.60);
    font-family: Exo 2;
    font-size: 14px;
}
.read-time{
    color: rgba(17, 17, 17, 0.60);
    font-family: Exo 2;
    font-size: 18px;
    font-weight: 400;
}
hr{
    color:rgba(17, 17, 17, 0.10);
}